@model NextNews.ViewModels.HomeIndexVM

@{
    ViewData["Title"] = "Home Page";

   
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div> *@

<partial name="_CarouselPartialView" model="Model.LatestArticles"></partial>


<div class="row">
    @* vänstra kolumnen *@
    <div class="col-6" style="border: 1px solid gray">
        <img class="img-on-HomeIndex" src="@Model.MostPopularArticle.ImageLink" alt="Article Image" style="width:100%">
        <h1>@Model.MostPopularArticle.HeadLine</h1>
        <h5>@Model.MostPopularArticle.ContentSummary</h5>
        <p class="latest-news-date">Published on @Model.MostPopularArticle.DateStamp?.ToString("M") @Model.MostPopularArticle.DateStamp?.ToString("t")</p>
  
        <h2 style="color: black">News</h2>

        @if (Model.SpecificArticles?.Count >= 13)
        {
            var firstspecificArticle = Model.SpecificArticles.FirstOrDefault(a => a.Id == 11);
            var secondSpecificArticle = Model.SpecificArticles.FirstOrDefault(a => a.Id == 17);
            var thirdSpecificArticle = Model.SpecificArticles.FirstOrDefault(a => a.Id == 25);

            <div class="row">
                <div class="col-4">
                    <!-- Display details for the first specific article -->
                    <div class="article-image">
                        <img class="img-on-HomeIndex" src="@firstspecificArticle.ImageLink" alt="Article Image" style="width:100%">
                    </div>
                    <div class="article-news-headline">
                        <a asp-action="Details" asp-controller="Article" asp-route-id="@firstspecificArticle.Id" class="article-news-link">
                            @firstspecificArticle.HeadLine
                        </a>
                    </div>
                    <div class="article-news-item mb-3">
                    </div>
                    <p class="article-news-summary">@firstspecificArticle.ContentSummary</p>
                    <p class="article-news-date">Published on @firstspecificArticle.DateStamp?.ToString("M") @firstspecificArticle.DateStamp?.ToString("t")</p>
                </div>

                <div class="col-4">
                    <!-- Display details for the second specific article -->
                    <div class="article-image">
                        <img class="img-on-HomeIndex" src="@secondSpecificArticle.ImageLink" alt="Article Image" style="width:100%">
                    </div>
                    <div class="-news-headline">
                        <a asp-action="Details" asp-controller="Article" asp-route-id="@secondSpecificArticle.Id" class="article-news-link">
                            @secondSpecificArticle.HeadLine
                        </a>
                    </div>
                    <div class="article-news-item mb-3">
                    </div>
                    <p class="article-news-summary">@secondSpecificArticle.ContentSummary</p>
                    <p class="article-news-date">Published on @secondSpecificArticle.DateStamp?.ToString("M") @secondSpecificArticle.DateStamp?.ToString("t")</p>
                </div>

                <div class="col-4">
                    <!-- Display details for the third specific article -->
                    <div class="article-image">
                        <img class="img-on-HomeIndex" src="@thirdSpecificArticle.ImageLink" alt="Article Image" style="width:100%">
                    </div>
                    <div class="article-news-headline">
                        <a asp-action="Details" asp-controller="Article" asp-route-id="@thirdSpecificArticle.Id" class="article-news-link">
                            @thirdSpecificArticle.HeadLine
                        </a>
                    </div>
                    <div class="article-news-item mb-3">
                    </div>
                    <p class="article-news-summary">@thirdSpecificArticle.ContentSummary</p>
                    <p class="article-news-date">Published on @thirdSpecificArticle.DateStamp?.ToString("M") @thirdSpecificArticle.DateStamp?.ToString("t")</p>
                </div>
            </div>
        }

        @if (Model.SpecificArticles?.Count >= 13)
        {
            var firstSpecificArticle = Model.SpecificArticles.FirstOrDefault(a => a.Id == 13);
            var secondSpecificArticle = Model.SpecificArticles.FirstOrDefault(a => a.Id == 15);
            var thirdSpecificArticle = Model.SpecificArticles.FirstOrDefault(a => a.Id == 7);

            <div class="row">
                <div class="col-4">
                    <!-- Display details for the first specific article -->
                    <div class="article-image">
                        <img class="img-on-HomeIndex" src="@firstSpecificArticle.ImageLink" alt="Article Image" style="width:100%">
                    </div>
                    <div class="article-news-headline">
                        <a asp-action="Details" asp-controller="Article" asp-route-id="@firstSpecificArticle.Id" class="article-news-link">
                            @firstSpecificArticle.HeadLine
                        </a>
                    </div>
                    <div class="article-news-item mb-3">
                    </div>
                    <p class="article-news-summary">@firstSpecificArticle.ContentSummary</p>
                    <p class="article-news-date">Published on @firstSpecificArticle.DateStamp?.ToString("M") @firstSpecificArticle.DateStamp?.ToString("t")</p>
                </div>

                <div class="col-4">
                    <!-- Display details for the second specific article -->
                    <div class="article-image">
                        <img class="img-on-HomeIndex" src="@secondSpecificArticle.ImageLink" alt="Article Image" style="width:100%">
                    </div>
                    <div class="second-news-headline">
                        <a asp-action="Details" asp-controller="Article" asp-route-id="@secondSpecificArticle.Id" class="article-news-link">
                            @secondSpecificArticle.HeadLine
                        </a>
                    </div>
                    <div class="article-news-item mb-3">
                    </div>
                    <p class="article-news-summary">@secondSpecificArticle.ContentSummary</p>
                    <p class="article-news-date">Published on @secondSpecificArticle.DateStamp?.ToString("M") @secondSpecificArticle.DateStamp?.ToString("t")</p>
                </div>

                <div class="col-4">
                    <!-- Display details for the third specific article -->
                    <div class="article-image">
                        <img class="img-on-HomeIndex" src="@thirdSpecificArticle.ImageLink" alt="Article Image" style="width:100%">
                    </div>
                    <div class="article-news-headline">
                        <a asp-action="Details" asp-controller="Article" asp-route-id="@thirdSpecificArticle.Id" class="article-news-link">
                            @thirdSpecificArticle.HeadLine
                        </a>
                    </div>
                    <div class="article-news-item mb-3">
                    </div>
                    <p class="article-news-summary">@thirdSpecificArticle.ContentSummary</p>
                    <p class="article-news-date">Published on @thirdSpecificArticle.DateStamp?.ToString("M") @thirdSpecificArticle.DateStamp?.ToString("t")</p>
                </div>
            </div>
        }

    </div> 



    @* högra kolumnen *@
    <div class="col-3">

        <h2 style="color: black">Latest News</h2>
        @foreach (var news in Model.LatestArticles)
        {
            <div>

                <div class="article-image">
                    <img class="img-on-HomeIndex" src="@news.ImageLink" alt="Article Image" style="width:100%">
                </div>

                <div class="latest-news-headline">
                    <a asp-action="Details" asp-controller="Article" asp-route-id="@news.Id" class="latest-news-link">
                        @news.HeadLine
                    </a>
                </div>
                @* <div class="latest-news-item mb-3">
                </div> *@
                <p class="latest-news-summary">@news.ContentSummary</p>
                <p class="latest-news-date">Published on @news.DateStamp?.ToString("M") @news.DateStamp?.ToString("t")</p>
            </div>
        }
    </div>
    

    @* Advertisement column *@
        <div class="col-2">




   
        <h2 style="color: black">Advertisement</h2>

        
        




    </div>
</div>


<div class="row">

    <!-- Left column for CategoryArticles -->
    <div class="col-6" style="border: 1px solid gray">

        <h2 style="color: black">Sports News</h2>
       @*  @foreach (var categoryArticle in Model.CategoryArticles)
        { *@

        @if (Model.ArticlesByCategorySport.Any())
        {
            var firstArticle = Model.ArticlesByCategorySport.First();

            <div>
                <img class="img-on-HomeIndex" src="@firstArticle.ImageLink" alt="Article Image" style="width:100%">
            </div>
            <div class="latest-news-headline">
                <a asp-action="Details" asp-controller="Article" asp-route-id="@firstArticle.Id" class="sports-news-link">
                    @firstArticle.HeadLine
                </a>
            </div>
            <div class="sports-news-item mb-3">
            </div>
            <p class="sports-news-summary">@firstArticle.ContentSummary</p>
            <p class="sports-news-date">Published on @firstArticle.DateStamp?.ToString("M") @firstArticle.DateStamp?.ToString("t")</p>
        }

       @*  } *@
    </div>


    <!-- Right column for CategoryArticles -->
    <div class="col-6">
        <h2 style="color: black">More in Sports</h2>
       @*  @foreach (var categoryArticle in Model.CategoryArticles)
        { *@


        <!-- Skip the first article -->
        @foreach (var categoryArticle in Model.ArticlesByCategorySport.Skip(1))
        {
            <div>
                <div class="sports-news-headline">
                    <a asp-action="Details" asp-controller="Article" asp-route-id="@categoryArticle.Id" class="sports-news-link">
                        @categoryArticle.HeadLine
                    </a>
                </div>
                <div class="sports-news-item mb-3">
                </div>
                <p class="sports-news-summary">@categoryArticle.ContentSummary</p>
                <!-- Include other properties as needed -->
            </div>
        }


        @* } *@
    </div>
</div>















@* Div for categories. *@
@* <div>
    <h2>Sports News</h2>

    @foreach (var article in Model.CategoryArticles)
    {
        <div>
            <h3>@article.HeadLine</h3>
            <p>@article.ContentSummary</p>

            <!-- Add other properties as needed -->
        </div>
    }
</div> *@

@* <div>
        <h2>Sports News</h2>

        @foreach (var article in Model.CategoryArticles)
        {
            <div>
                <img src="@article.ImageLink" alt="Article Image" style="max-width: 100%">

                <h2>@article.HeadLine</h2>
                <p>@article.ContentSummary</p>

                <p>@article.DateStamp?.ToString("M") @article.DateStamp?.ToString("t")</p>

            <!-- Add other properties as needed -->
            </div>
        }
    </div>

</div>*@



@* Specific article by Id in Home Controller Index Action *@
@*  @if (Model.SpecificArticle != null)
        {
            <div class="col-4">
                <div class="article-image">
                    <img class="img-on-HomeIndex" src="@Model.SpecificArticle.ImageLink" alt="Article Image" style="width:100%">
                </div>
                <div class="latest-news-headline">
                    <a asp-action="Details" asp-controller="Article" asp-route-id="@Model.SpecificArticle.Id" class="latest-news-link">
                        @Model.SpecificArticle.HeadLine
                    </a>
                </div>
                <div class="latest-news-item mb-3">
                </div>
                <p class="latest-news-summary">@Model.SpecificArticle.ContentSummary</p>
                <p class="latest-news-date">Published on @Model.SpecificArticle.DateStamp?.ToString("M") @Model.SpecificArticle.DateStamp?.ToString("t")</p>
            </div>
        }
        *@


@* Specific article by Id in the list in Home Controller Index Action *@.
@*  @if (Model.SpecificArticles?.Any() == true)
        {
            foreach (var specificArticle in Model.SpecificArticles)
            {
                <div class="col-4">
                    <div class="article-image">
                        <img class="img-on-HomeIndex" src="@specificArticle.ImageLink" alt="Article Image" style="width:100%">
                    </div>
                    <div class="latest-news-headline">
                        <a asp-action="Details" asp-controller="Article" asp-route-id="@specificArticle.Id" class="latest-news-link">
                            @specificArticle.HeadLine
                        </a>
                    </div>
                    <div class="latest-news-item mb-3">
                    </div>
                    <p class="latest-news-summary">@specificArticle.ContentSummary</p>
                    <p class="latest-news-date">Published on @specificArticle.DateStamp?.ToString("M") @specificArticle.DateStamp?.ToString("t")</p>
                </div>
            }
        } *@




@* The First Code for the View *@
@*
 <div class="row">
     vänstra kolumnen
    <div class="col-9" style="border: 1px solid gray">
        <img class="img-on-HomeIndex" src="@Model.MostPopularArticle.ImageLink" alt="Article Image" style="width:100%">
        <h1>@Model.MostPopularArticle.HeadLine</h1>
        <h5>@Model.MostPopularArticle.ContentSummary</h5>
    </div>

     högra kolumnen
    <div class="col-3">

        <h2 style="color: black">Latest News</h2>
        @foreach (var news in Model.LatestArticles)
        {
            <div>

                <div class="article-image">
                    <img class="img-on-HomeIndex" src="@news.ImageLink" alt="Article Image" style="width:100%">
                </div>

                <div class="latest-news-headline">
                    <a asp-action="Details" asp-controller="Article" asp-route-id="@news.Id" class="latest-news-link">
                        @news.HeadLine
                    </a>
                </div>

                <div class="latest-news-item mb-4">
                </div>
                <p class="latest-news-summary">@news.ContentSummary</p>
                <p class="latest-news-date">Published on @news.DateStamp?.ToString("M") @news.DateStamp?.ToString("t")</p>
            </div>

        }
    </div>
</div>

 *@
