@* @model IEnumerable<NextNews.Models.Database.Article> *@

@model IEnumerable<NextNews.Models.LatestNewsViewModel>

<div class="container news-carousel">
<div class="latest-news-header">
<h2 class="latest-news-title">BREAKING NEWS</h2>
</div>
  @*   <partial name="_CarouselPartialView" model="Model.LatestArticles"></partial> *@
<div id="newsCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel" data-bs-interval="10000">
<div class="carousel-indicators">
            @{
                var index = 0;
            }
            @foreach (var news in Model)
            {
<button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="@index" class="@(index == 0 ? "active" : "")" aria-current="true" aria-label="Slide @index"></button>
                index++;
            }
</div>
<div class="carousel-inner">
            @{
                var active = true;
            }
            @foreach (var news in Model)
            {
<div class="carousel-item @(active ? "active" : "")">
<div class="latest-news-item">
<div class="latest-news-headline">
<a asp-action="Details" asp-controller="Article" asp-route-id="@news.Id" class="latest-news-link">
                                @news.HeadLine
</a>
</div>
                        @* <p class="latest-news-summary">@news.ContentSummary</p> *@
<p class="latest-news-date">Published on @news.DateStamp?.ToString("M") @news.DateStamp?.ToString("t")</p>
</div>
</div>
 
                active = false;
            }
</div>
        @* <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button> *@
</div>
</div>