@model IEnumerable<NextNews.Models.Database.Article>



 <div class="article-list">
    @foreach (var article in Model)
    {
       
        <div class="article-item">
            <p><i>@Html.DisplayFor(modelItem => article.DateStamp) by @Html.DisplayFor(modelItem => article.AuthorName)</i></p>
            <h2>@Html.DisplayFor(modelItem => article.HeadLine)</h2>
             <img src="@article.ImageLink" style="width:100%;" />
            <p>@Html.DisplayFor(modelItem => article.ContentSummary)</p>
                    <br />
                    <p>Views: @Html.DisplayFor(modelItem => article.Views)</p>
                    <p>Likes: @Html.DisplayFor(modelItem => article.Likes)</p>
                      <p>@Html.DisplayFor(modelItem => article.Category.Name)</p>
         
            <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id">Read More</a>
        </div>
       
        <hr />
    }
</div>
 
