@model NextNews.Models.Database.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageLink)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageLink)" alt="image" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
    </dl>
</div>
<div>
  
    <a class="btn btn-success" id="likeButton" asp-action="Likes" asp-controller="Article" asp-route-id="@Model.Id" asp-route-returnUrl="/Article/Details/@Model.Id">Like</a>

   
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


    <script>
        document.getElementById('likeButton').addEventListener('click', function () {
            var button = document.getElementById('likeButton');
            if (button.innerHTML === 'Like') {
                button.innerHTML = 'Unlike';
                // Additional logic for when the article is liked
            } else {
                button.innerHTML = 'Like';
                // Additional logic for when the article is unliked
            }
        });
    </script>