@model IEnumerable<NextNews.Models.Database.Article>

@{
    ViewData["Title"] = "ListArticles";
}

<h1>ListArticles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* @foreach (var item in Model)
{
    @Html.Raw(item.Content) <br />
    <br />
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"> Details</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
    <br />
    <br />
} *@


@foreach (var item in Model)
{
    <div class="row" >
        <div class="col-9">
            <h1>@item.HeadLine  </h1>
            <h3>@item.LinkText</h3>
            <h4>@item.ContentSummary</h4>
            @Html.Raw(item.Content) <br />

            <strong>@item.DateStamp  @item.AuthorName  @item.Views    @item.Likes </strong>

            <br />
            <br />
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"> Details</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
        </div>
        <div class="col-3">
            <img src="@item.ImageLink" style="width:300px;height:300px" />
          
           
        </div>
   
</div>
}
