@model NextNews.Models.Database.User



<h1 class="mt-5">My pages</h1>
<h3> *** Hi Best User *** </h3>

<h4><strong>User Profile</strong></h4>

<div style="border: 2px dotted gray; border-radius: 25px; margin: 25px; padding: 25px; box-shadow: 10px 10px 25px gray">
    <p><strong>Username:</strong> @Model.UserName</p>
    <p><strong>First Name:</strong> @Model.FirstName</p>
    <p><strong>Last Name:</strong> @Model.LastName</p>
    <p><strong>Date of Birth:</strong> @Model.DateofBirth</p>
    <p><strong>Email:</strong> @Model.Email</p>
</div>



